:root {
  --acento: #6524ac;
  --acento-shadow: hsla(269, 65%, 41%, 0.8);
  --acento-claro: #a5389b;
  --verde: #00c3a9;
  --rojo: #a10000;
  --negro: #4c4452;
  --blanco: #fdf7ff;
  --gris: #666;
}

/* gradiente:    background-image: linear-gradient(to right, #6524ac, #7a26a7, #8b2aa3, #99309f, #a5389b); */
/* font weight: 200 - 400 - 700 */

/* BUTTONS */
.btn-border-white {
  border: 2px solid var(--blanco);
  background-color: transparent;
  border-radius: 1rem;
  color: var(--blanco);
}
.btn-border-white:hover {
  background-color: var(--blanco);
  color: var(--acento);
}
.btn-full-white {
  background-color: var(--blanco);
  border: 2px solid var(--blanco);
  color: var(--acento);
  border-radius: 1rem;
}
.btn-full-white:hover {
  background-color: transparent;
  color: var(--blanco);
}
.btn-border-accent {
  border: 2px solid var(--acento);
  background-color: transparent;
  color: var(--acento);
  border-radius: 1rem;
}
.btn-border-accent:hover {
  background-color: var(--acento);
  color: var(--blanco);
}
